<div class="header">
    <div class="header-title-container d-flex align-items-start justify-content-between">
        <div class="d-flex align-items-end client-name-div col">
            <div class="sideNavIcon">
                <span class="showNavIcon"><i class="fa fa-bars collapseIcon"></i></span>
            </div>
            <div class="vl pr-2">
                <h5>My Jobs</h5>
            </div>
        </div>

        <div class="right-part" style="margin-top: 22px;">
            <div class="user_menu--wrapper">
                <nav class="d-flex justify-content-between">
                    <ul class="navbar-nav flex-row padClass">
                        <li>
                            <i class="fa fa-user-circle" style="margin:-6px 0px 0px 0px;height: 36px;"></i>
                        </li>
                        <li>
                            Demo User
                            <i class="fa fa-caret-down "></i>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>