.footerLegend {
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 1%;
    font-family: NotoSans;
    font-size: 14px;
    height: 54px;
    letter-spacing: 0px;
    line-height: 24px;
    text-align: center;
}

.footerWrapper {
    height: auto;
    background: #2e2e38;
}